<?xml version="1.0"?>
<launch>
    <arg name="image"           default="/image_rect"/>
    <arg name="minimum_angle_thresh"            default="0.05"/>
    <arg name="maximum_angle_distance_ransac"   default="0.01"/>
    <arg name="maximum_iteration_ransac"        default="10000"/>
    <arg name="minimum_number_of_data_ransac"   default="10000"/>
    <arg name="generate_aruco_board"            default="false"/>
    <arg name="show_gui"                        default="true"/>

    <node name="virtualgimbal_ros" pkg="virtualgimbal_ros" type="line_delay_estimator_node" output="screen">
        <rosparam command="load"    file="$(find virtualgimbal_ros)/params/detector_params.yaml"/>
        <rosparam command="load"    file="$(find virtualgimbal_ros)/params/marker_params.yaml"/>
        <rosparam command="load"    file="$(find virtualgimbal_ros)/params/line_delay_estimation_params.yaml"/>
        <param name="image"                         value="$(arg image)"/>
        <param name="minimum_angle_thresh"          value="$(arg minimum_angle_thresh)"/>
        <param name="maximum_angle_distance_ransac" value="$(arg maximum_angle_distance_ransac)"/>
        <param name="maximum_iteration_ransac"      value="$(arg maximum_iteration_ransac)"/>
        <param name="minimum_number_of_data_ransac" value="$(arg minimum_number_of_data_ransac)"/>
        <param name="generate_aruco_board"          value="$(arg generate_aruco_board)"/>
        <param name="show_gui"                      value="$(arg show_gui)"/>    
    </node>
</launch>