<?xml version="1.0"?>
<launch>
    <arg name="image"                           default="/camera/color/image_raw"/>
    <arg name="minimum_angle_thresh"            default="0.05"/>
    <arg name="maximum_angle_distance_ransac"   default="0.01"/>
    <arg name="maximum_iteration_ransac"        default="10000"/>
    <arg name="minimum_number_of_data_ransac"   default="10000"/>
    <arg name="generate_aruco_board"            default="false"/>
    <arg name="show_gui"                        default="true"/>

    <include file="$(find virtualgimbal_ros)/launch/estimate_line_delay.launch">
        <arg name="image"                           value="$(arg image)"/>
        <arg name="minimum_angle_thresh"            value="$(arg minimum_angle_thresh)"/>
        <arg name="maximum_angle_distance_ransac"   value="$(arg maximum_angle_distance_ransac)"/>
        <arg name="maximum_iteration_ransac"        value="$(arg maximum_iteration_ransac)"/>
        <arg name="minimum_number_of_data_ransac"   value="$(arg minimum_number_of_data_ransac)"/>
        <arg name="generate_aruco_board"            value="$(arg generate_aruco_board)"/>
        <arg name="show_gui"                        value="$(arg show_gui)"/>
    </include>
</launch>