<?xml version="1.0"?>
<launch>

    <node pkg="nodelet" type="nodelet" args="manager" name="pointcloud_manager" output="screen"/>
    
    <node pkg="nodelet" type="nodelet" name="metric_rect" args="load depth_image_proc/convert_metric pointcloud_manager --no-bond">
        <remap from="image_raw" to="/camera/depth/image_rect_raw"/>
        <remap from="image" to="/camera/depth/image_rect"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="register" args="load depth_image_proc/register pointcloud_manager --no-bond">
        <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
        <remap from="depth/camera_info" to="/camera/depth/camera_info"/>
        <remap from="depth/image_rect" to="/camera/depth/image_rect"/>

        <remap from="depth_registered/camera_info" to="/camera/depth/registered/camera_info"/>
        <remap from="depth_registered/image_rect" to="/camera/depth/registered/image_rect"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="pcl_xyzrgb" args="load depth_image_proc/point_cloud_xyzrgb pointcloud_manager --no-bond">
        <remap from="rgb/camera_info"               to="/camera/color/camera_info"/>
        <remap from="rgb/image_rect_color"          to="/camera/color/image_raw"/>
        <remap from="depth_registered/image_rect"   to="/camera/depth/registered/image_rect"/>
    </node>

</launch>