<?xml version="1.0"?>
<launch>
    <arg name="image"           default="/image"/>
    <arg name="imu_data"        default="/imu_data"/>
    <arg name="zoom_factor"     default="1.3"/>
    <arg name="enable_trimming" default="true"/>
    <arg name="line_delay"      default="0.0"/>
    <arg name="offset_time"     default="0.0"/>
    <arg name="lsm_order"       default="2"/>
    <arg name="lsm_period"      default="1.5"/>

    <node name="virtualgimbal" pkg="virtualgimbal_ros" type="virtualgimbal_ros_node" output="screen">
        <param name="image"             value="$(arg image)"/>
        <param name="imu_data"          value="$(arg imu_data)"/>
        <param name="zoom_factor"       value="$(arg zoom_factor)"/>
        <param name="enable_trimming"   value="$(arg enable_trimming)"/>
        <param name="line_delay"        value="$(arg line_delay)"/>
        <param name="offset_time"       value="$(arg offset_time)"/>
        <param name="lsm_order"         value="$(arg lsm_order)"/>
        <param name="lsm_period"        value="$(arg lsm_period)"/>
    </node>
</launch>