<?xml version="1.0"?>
<launch>
    <arg name="image"                   default="/image"/>
    <arg name="imu_data"                default="/imu_data"/>
    <arg name="maximum_offset_time"     default="0.5"/>
    <arg name="correlation_time"        default="15.0"/>

    <node name="virtualgimbal" pkg="virtualgimbal_ros" type="synchronizer_node" output="screen">
        <param name="image"                 value="$(arg image)"/>
        <param name="imu_data"              value="$(arg imu_data)"/>
        <param name="maximum_offset_time"   value="$(arg maximum_offset_time)"/>
        <param name="correlation_time"      value="$(arg correlation_time)"/>
    </node>
</launch>